header
	.header-position
		h1.logo	Izel Maras

		nav.site-nav
			ul
				li: a(href="../..") About
				li: a(href="../..") Contact
				li: a(href="mailto:email@izelmaras.com") Email
			
		.mobile-nav-toggle: span
		//a(href="mailto:email@izelmaras.com").email-link +Email

	
